<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Profile </ion-title>
    <ion-button fill="clear" slot="end" color="light" (click)="editclicked()">
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="getProfileData">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="position: relative; top: 30px">
            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Name</ion-label
              >
              <ion-input
                name="name"
                formControlName="name"
                (ionInput)="onchange($event)"
                type="text "
                value="{{dataretrieved?.data?.name}}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Email</ion-label
              >
              <ion-input
                name="email"
                disabled="true"
                (ionInput)="onchange($event)"
                formControlName="email"
                type="email "
                value="{{dataretrieved?.data?.email}}"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Mobile Number</ion-label
              >
              <ion-input
                name="mnumber "
                inputmode="tel"
                formControlName="mnumber"
                pattern="[0-9]*"
                type="tel"
                maxlength="11"
                minlength="11"
                value="0{{dataretrieved?.data?.mnumber}}"
              >
              </ion-input>
            </ion-item>
          </div>

          <!-- div for address -->
          <div class="mid" style="position: relative; top: 40px; width: 100%">
            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Address1</ion-label
              >
              <ion-textarea
                auto-grow="true"
                (ionInput)="onchangetext($event)"
                formControlName="Address1"
                value="{{dataretrieved?.data?.Address1}}"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Address2</ion-label
              >
              <ion-textarea
                auto-grow="true"
                (ionInput)="onchangetext($event)"
                formControlName="Address2"
                value="{{dataretrieved?.data?.Address2}}"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >State/Province</ion-label
              >
              <ion-textarea
                auto-grow="true"
                (ionInput)="onchangetext($event)"
                formControlName="Province"
                value="{{dataretrieved?.data?.Province}}"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >City</ion-label
              >
              <ion-textarea
                auto-grow="true"
                formControlName="City"
                (ionInput)="onchangetext($event)"
                value="{{dataretrieved?.data?.City}}"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label style="color: #0cd1e8" position="stacked"
                >Zipcode</ion-label
              >
              <ion-input
                inputmode="tel"
                pattern="[0-9]*"
                type="tel"
                maxlength="5"
                minlength="5"
                formControlName="Zipcode"
                value="{{  dataretrieved?.data?.Zipcode}}"
              ></ion-input>
            </ion-item>
          </div>

          <br /><br />
          <div padding>
            <ion-button
              color="secondary"
              size="large"
              type="submit"
              shape="round"
              expand="block"
              [disabled]="getProfileData.invalid || disable"
              *ngIf="clickededit"
              (click)="update()"
              >Update
              <ion-spinner name="bubbles" *ngIf="clickedspinner"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
