.pricetage{

    padding-top: -50px;
    height:20px;
    width:20px;
}

#pronamel{
    padding-left: 5px;
}

#quantity{
    padding-left: 5px;
    padding-right: 5px;
}
.homeSearch {
    width: 50%; 
    
  }

  .edtbtn{
    padding-right: 10%;
    padding-left: 5%;
  }
  .img{
height: 105px;
width: 200px;
  }
  .dropdown {
    width: 80%;
  padding-left: 2px; 
    
  }

  .labelclass {
    padding-top: 200px;
    padding-bottom: 60px;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
}



