ion-fab-button{
height: 70px;
width:70px
}
.cart-icon{
    font-size: 50px;
}
.cart-length{
    color: var(--ion-color-primary);
position: absolute;
top:20px;
left:25px;
font-weight: 600;
font-size: 1em;
min-width: 25px;
z-index:10;
}

.chat{
padding-left: 20px;
}

ion-card-title{
    size:"500px";
}
.discription{
    height: 100px;
}
.price{
    height: 100px;
}

// .feedback{
// height: 200px;
// }
.pricelabel{

    height: 99px;
}
// .proname{
//  padding-left: 150;
   
// }