<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Order Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mainhead">
    <ion-card-header class="ion-text-center">
      <ion-card-title
        ><b> <ion-label>Payment Success </ion-label></b></ion-card-title
      >
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Your Order Number is {{Ordid}}
    </ion-card-content>
  </ion-card>
  <ion-card class="cards">
    <ion-card-header id="head" class="ion-text-center">
      <ion-label class="ion-text-center"
        >You can track & manage your orders at <b>My Orders</b> in the Menu Or
        Use below <b>Track Order</b> button</ion-label
      >
      <br /><br /><br />
      <ion-button color="secondary" (click)="gotoorders()"
        >Track Order</ion-button
      >
      <br />
    </ion-card-header>

    <ion-card-content id="cont" class="ion-text-center">
      <br />
      <ion-label class="ion-text-center">
        We have sent a confirmation email to <br />
        {{Email}} with the order details.
      </ion-label>

      <br />
      <br />

      <ion-label class="ion-text-center"
        >Your order will be delivered in approximately 7 to 14 days.
      </ion-label>

      <br /><br />
      <ion-button color="secondary" (click)="gotohome()">
        CONTINUE SHOPPING</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
