.easypaisa {
    // border-radius: 50%;
     height: 50px;
     width: 70px;
     padding-bottom: 0px;
 }

 .cards {
    // border-radius: 50%;
     height: 70%;
 }

 
 .mainhead {
    // border-radius: 50%;
     height: 25%;
     background-color:tomato;
 }

 #head{
height:30%;
 }