.main-button{
    height: 50px;
    width:50px;
}

    .edit-button{
        height: 50px;
    width:50px;
    }
    .edit-icon{
        height: 35px;
    width:35px;
    }
    
    .emptypagetext{
        font-size: 35px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        display: flex;
        justify-content:center;
         display: grid;
        
        
    }
    .emptypageicon{
     padding-top: 150px;
        height: 250px;
    width:250px;
    margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        display: flex;
        justify-content:center;
         display: grid;
        
}