.avatar_circle{    
        width:100% !important;  
        height : 80% !important;  
        max-width: 5000px !important;  //any size
        max-height: 1500px !important; //any size 
        
}

#image-editor {
        width:100% !important;  
        height : 100% !important;  
        max-width: 5000px !important;  //any size
        max-height: 1500px !important;
     }

.skipbutton {
        position:fixed;
    bottom:0;
    width:100px;
    height:30px;
    font-size:100% ; 
    margin: 120px 220px;
     }
