<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Cancelled Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-item class="dropdown">
      <ion-label>SearchBy </ion-label>
      <ion-select interface="popover" (ionChange)="onChange($event)">
        <ion-select-option value="1">Order ID </ion-select-option>
        <ion-select-option value="2">Product Name</ion-select-option>
        <ion-select-option value="3">Seller Name</ion-select-option>
        <ion-select-option value="4">Seller Email</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-searchbar
      class="homeSearch"
      (ionInput)="mySearch($event)"
      slot="secondary"
      autocomplete="off"
      autocorrect="off"
      [disabled]="!notfound"
      spellcheck="true"
      animated="true"
      placeholder="{{searchph}}"
      color="light"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-label class="labelclass" [hidden]="emptyarray">
    Sorry Can Not Find Any Match !
  </ion-label>

  <ion-label class="labelclass" [hidden]="notfound">
    Sorry You Do not Have Any Cancelled Orders Yet !
  </ion-label>

  <ion-grid>
    <ion-row
      sizeLg="4"
      sizeMd="4"
      sizeXs="6"
      *ngFor="let p of orders"
      class="line"
    >
      <ion-card>
        <ion-card-content>
          <ion-col size="4">
            <img
              src="{{baseimageurl}}{{p.mainimage}}"
              failedUrl="image"
              onerror="this.src='assets/icon/book.png'"
            />
          </ion-col>

          <ion-col size="8">
            <ion-row>
              Order ID:
              <ion-label id="pronamel">
                <b> {{p._id}} </b>
              </ion-label>
            </ion-row>
            <ion-row>
              Product Name:
              <ion-label id="pronamel" color="secondary">
                {{p.productname}}
              </ion-label>
            </ion-row>
            <ion-row>
              Price :
              <ion-label id="price" color="secondary">
                {{p.TotalAmount/p.productCount |currency:'PKR'}}
              </ion-label>

              Quantity:

              <ion-label id="pronamel" color="secondary">
                {{p.productCount }}</ion-label
              >
            </ion-row>

            <ion-row>
              Cancel Status:
              <ion-label id="pronamel" color="secondary" [hidden]="p.confirm">
                Cancelled Before Confirmation
              </ion-label>
              <ion-label id="pronamel" color="danger" [hidden]="!p.confirm">
                Cancelled After Confirmation
              </ion-label>
            </ion-row>

            <ion-row>
              Total amount:
              <ion-label id="pronamel" color="secondary">
                {{p.TotalAmount |currency:'PKR'}}
              </ion-label>
            </ion-row>

            <ion-row>
              Order Date :
              <ion-label id="pronamel" color="secondary">
                {{p.Date}}
              </ion-label>
            </ion-row>
            <ion-row>
              Order Time :
              <ion-label id="pronamel" color="secondary"> {{p.Time}}</ion-label>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="ion-text-center" id="fbtn">
                  <ion-button fill="solid" (click)="chat(p)">
                    Chat Now
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col>
                <div class="ion-text-center" id="fbtn">
                  <ion-button fill="solid" (click)="delete(p._id)">
                    Delete Order
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading">
    <ion-list>
      <ion-item *ngFor="let item of skeletonlist">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
