.easypaisa {
   // border-radius: 50%;
    height: 50px;
    width: 70px;
    padding-bottom: 0px;
}

// .card{
//     height:80%;
// }
// .iteem {

//     --border-width: 0;
//     --inner-border-width: 0;
// }

// .inputtext{
    
//     border-bottom: 1px; 
//     max-width: 100%;
    
//     // padding-left: 500px;
//     // background-color: lawngreen;
//     // width: 100px;
//     // margin-left: -100;
// }