<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="verifyEmail"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
           Reset Password
        </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="changePasswordForm">
        <ion-grid>
            <ion-row color="secondary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <ion-row >
                      <img class="logo1" src="../../assets/icon/logo_size.jpg"  width="600"
                      height="337"
                      style="width: 500px; height:300px;" />
                    </ion-row>
                     
                     <ion-row>
                      <h4 class="pleaseText">Please Enter Your New Password</h4>
  
                     </ion-row>    
                     <ion-row>
                      <ion-item class="txtarea">
                          <ion-input name="password" type="password" placeholder="Enter Your New Password " formControlName="password"></ion-input>
                        </ion-item>
    
                     </ion-row>
  
                     <ion-row justify-content-center>   
              
                      <ion-item  class="btn">
                      <ion-button color="secondary" shape="round" size="large" [disabled]="changePasswordForm.invalid" (click)="updatePassword()" expand="block"> Change Password
                          <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
                      </ion-button>
  </ion-item>
                      </ion-row>           
  <ion-row class="copy">
      <p class="copy"> Copyright 2021. All rights reserved.</p>
      
  </ion-row>
    
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
  </ion-content>
  