.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }
  .buttonicon {
    float: right;
}

  .name {
    
    margin-top: -90px;
    padding-top: -10px;
   
    position:relative;
  padding-left: 20px;
    font-size:20px;
  }
  
  #pagename{
    padding-right: 90px;
  }
  .card {
    background: var(--ion-color-secondary);
    color: #fff;
    margin-top: 20px;
  }
  

  .image {
    float: left;
    margin-bottom: 10px;
  }