// .custom-skeleton ion-skeleton-text {
//     line-height: 13px;
// }

// .custom-skeleton ion-skeleton-text:last-child {
//     margin-bottom: 5px;
// }

.buttonicon {
    text-align: center;
margin-top: -12px;
    
}
.labelclass {
    padding-top: 200px;
    padding-bottom: 60px;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
}
