<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Shopping Cart</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
   <ion-list> 
<ion-item>
  <ion-grid>
    <ion-row
      sizeLg="4"
      sizeMd="4"
      sizeXs="6"
      *ngFor="let p of cart"
      class="line"
    >
      <ion-col size="6">
        <img
          src="{{baseimageurl}}{{p.mainimage}}"
          failedUrl="image"
          onerror="this.src='assets/icon/book.png'"
        />
      </ion-col>

      <ion-col size="6">
        <ion-row>
          <b>{{p.name}}</b>
        </ion-row>
        <ion-row> {{p.amount * p.price |currency:'PKR'}} </ion-row>

        <ion-row>
          <ion-col  size="2" class="ion-align-self-center">
            <ion-button
              color="medium"
              fill="clear"
              (click)="decreaseCartItem(p)"
            >
              <ion-icon name="remove-circle" slot="icon-only"> </ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="2" offset="2" class="ion-align-self-center">
            {{p.amount}}
          </ion-col>

          <ion-col size="1" class="ion-align-self-center">
            <ion-button
              color="medium"
              fill="clear"
              (click)="increaseCartItem(p)"
            >
              <ion-icon name="add-circle" slot="icon-only"> </ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="1" offset="2">
            <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
              <ion-icon name="close-circle" slot="icon-only"> </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>

  </ion-grid>
  </ion-item>

<ion-item lines="full">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
Total:
      </ion-col>
      <ion-col size="6" class="ion-text-end">
          Total= {{getTotal()}}
          
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

</ion-list>
<ion-button color="primary" expand="full" (click)="checkoutbtn()">
Checkout
</ion-button>

</ion-content>
