ion-item{
    // --background: #3880ff;
    --color: #3880ff;
}

ion-button{
    --background: #062f77;
}
.logo {
    text-align: center;
    padding-top: 0.5px;

}

.logo1 {
    border-radius: 50%;
    padding-bottom: 0px;
}