<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Create your account!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="name" formControlName="name" type="text" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="mnumber" type="tel" pattern="[0-9]*" placeholder="Mobile Number" maxlength="11" formControlName="mnumber"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input name="address" type="text" placeholder="Address" formControlName="address"></ion-input>
          </ion-item>
            <ion-item>
              <ion-input name="password" formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" formControlName="confirm_password" type="password" placeholder="Password">
              </ion-input>
            </ion-item>
          </div>
         
           <!-- <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
            <img [src]="imagePreview" [alt]="registerForm.value.title">
            <ion-button color="secondary"  type="button" (click)="uploadImage()" class="btn btn-green round" >Upload Image
            </ion-button>
          </div>  -->

           
          <!-- code from sir alamgir -->
           <!-- <div >
  <ion-item>
  <ion-input type="file" #inputFile style="display:none" (change)="onFileChange($event)" ></ion-input>
  <img [src]="userInfo?.avatar" class="fixed-size" onError="this.src='assets/images/placeholder.jpg'" />
  
</ion-item>

<ion-button color="secondary" *ngIf="userInfo?.touched" type="button" (click)="uploadImage()" class="btn btn-green round" [disabled]="isLoadingImgUpload">Upload Image
  <i *ngIf="isLoadingImgUpload" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
</ion-button>

</div> -->
<div class="ion-padding">
  <ion-button  [disabled]="registerForm.invalid" (click)="save()" color="primary" type="submit"
    >Register
    <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
  </ion-button>
  <ion-button  (click)="login()" color="primary" 
    >Login
  </ion-button>
</div>
        </ion-col>          
        
      </ion-row>
    </ion-grid>
  </form>
</ion-content>