<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row color="justify-content-center">
        <ion-col
          class="ion-align-self-center"
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div class="ion-text-center">
            <h3>Create your account!</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input
                name="name"
                formControlName="name"
                (ionInput)="onchange($event)"
                type="text"
                placeholder="Name"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="email"
                [disabled]="blockemail"
                (ionInput)="onchange($event)"
                formControlName="email"
                type="email"
                placeholder="Email"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                name="mnumber "
                inputmode="tel"
                formControlName="mnumber"
                pattern="[0-9]*"
                type="tel"
                placeholder="Mobile Number"
                maxlength="11"
                minlength="11"
              >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea
                auto-grow="true"
                name="Address1"
                type="text"
                placeholder="Address1"
                (ionInput)="onchangetext($event)"
                formControlName="Address1"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-textarea
                auto-grow="true"
                (ionInput)="onchangetext($event)"
                formControlName="Address2"
                name="Address2"
                type="text"
                placeholder="Address2"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-textarea
                name="Province"
                type="text"
                placeholder="State/Province"
                auto-grow="true"
                (ionInput)="onchangetext($event)"
                formControlName="Province"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-textarea
                name="City"
                type="text"
                placeholder="City"
                auto-grow="true"
                formControlName="City"
                (ionInput)="onchangetext($event)"
              >
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-input
                placeholder="Zipcode"
                inputmode="tel"
                pattern="[0-9]*"
                type="tel"
                maxlength="5"
                minlength="5"
                formControlName="Zipcode"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                name="password"
                formControlName="password"
                type="password"
                placeholder="Password"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                formControlName="confirm_password"
                type="password"
                placeholder="Password"
              >
              </ion-input>
            </ion-item>

            <ion-item [hidden]="!startverify">
              <ion-input
                placeholder="Verifycode"
                inputmode="tel"
                pattern="[0-9]*"
                type="tel"
                maxlength="4"
                minlength="4"
                formControlName="verifycode"
              ></ion-input>
            </ion-item>
          </div>

          <!-- <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
          </div>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
            <img [src]="imagePreview" [alt]="registerForm.value.title">
            <ion-button color="secondary"  type="button" (click)="uploadImage()" class="btn btn-green round" >Upload Image
            </ion-button>
          </div>  -->

          <!-- code from sir alamgir -->
          <!-- <div >
  <ion-item>
  <ion-input type="file" #inputFile style="display:none" (change)="onFileChange($event)" ></ion-input>
  <img [src]="userInfo?.avatar" class="fixed-size" onError="this.src='assets/images/placeholder.jpg'" />
  
</ion-item>

<ion-button color="secondary" *ngIf="userInfo?.touched" type="button" (click)="uploadImage()" class="btn btn-green round" [disabled]="isLoadingImgUpload">Upload Image
  <i *ngIf="isLoadingImgUpload" class="fa fa-circle-o-notch fa-spin btn-spinner"></i>
</ion-button>

</div> -->

          <div class="ion-padding">
            <ion-button (click)="login()" color="primary">Login </ion-button>
            <ion-button
              [disabled]="registerForm.invalid || clicked"
              (click)="save()"
              color="primary"
              [hidden]="startverify"
              type="submit"
              >Register
              <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
            </ion-button>

            <ion-button
              [disabled]=" clicked"
              (click)="verify()"
              color="primary"
              [hidden]="!startverify"
              type="submit"
            >
              Verify
              <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
